<html>
<head>
    <title>RTMP - Repeater</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/main.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>RTMP - Repeater</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <% streams.forEach(function(stream) { %>
            <div class="col-xs-4">
                <div data-stream-id="<%= stream.id %>" class="stream panel panel-<%= stream.active ? 'success' : 'warning' %>">
                    <div class="panel-heading">
                        <span class="name"><%= stream.name %></span>
                        <span class="status badge">-</span>
                    </div>
                    <div class="panel-body">
                        <button class="btn btn-success">Start</button>
                        <button class="btn btn-danger">Stop</button>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <a target="_blank" href="http://rtmp.abnsat.com/stats">RTMP Statistics</a>
            </div>
        </div>
    </div>
</body>
</html>
